<template name="steps">
<div class="step_wrapper">
<center>
<h3>how it works ... </h3>
<div class="section_steps">
<section class="steps first_step">
	<p>
		Step 1:
		<br/>
		<span>Create a chatbot. You set a name and a password, we'll give you a unique url for your chatbot.</span>
	</p>
</section>

<section class="steps">
	<p>
		Step 2:
		<br/>
		<span>Pass on the url and password to people whom you want to chat with on your chatbot.</span>
	</p>
</section>
</div>
<div class="section_steps">
<section class="steps">
	<p>
		Step 3:
		<br/>
		<span>Login with the chatbot password, set a display name and you are good to go!</span>
	</p>
</section>
<section class="steps github">
	This is an open source project. The code can be viewed on <a href="http://localhost:3000">Github</a>.
</section>
</div>
<h3 class="tutorial_text">a simple tutorial on how this app was built is under construction <a href="">here</a></h3>
</center>
</div>
</template>